<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quinnnorris.ssm.mapper.BloginfoCustomMapper">

    <select id="selectBloginfoByNickname" parameterType="BloginfoCustom" resultType="BloginfoCustom">
        SELECT * FROM bloginfo WHERE nickname = #{nickname}
    </select>

    <update id="updateBloginfoHits" parameterType="int">
        UPDATE bloginfo SET hits = hits+#{i}
    </update>

    <update id="updateBloginfoScore" parameterType="int">
        UPDATE bloginfo SET score = score+#{i}
    </update>

    <update id="updateBloginfoArticles">
        UPDATE bloginfo SET articles = articles+1
    </update>

    <update id="updateBloginfoFans">
        UPDATE bloginfo SET fans = fans+1
    </update>


</mapper>